.lead__capton {
    color: #fff;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 7px 0 0 0;
    padding: 0;
    text-align: left;
}


@media screen and (max-width: 768px) {
    .lead__capton {
        margin: 7px 0 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__capton {
        margin: 7px 0 0 16px;
    }
}